.venv/
.git/
.gitignore
**/__pycache__/
**/*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.idea/
.vscode/
*.swp
.DS_Store
.env
data/
api_tests/
infra/
dist/
*.egg-info/
.eggs/
build/
tests/
README.md
Makefile
Dockerfile
.dockerignore
*.md
prices.json
Автошкола_Вектор_2ГИС.md
